# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Pytest cache
.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# Editor backups
*.swp
*.swo

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
